@use 'base' as *;

.is-resizing * {
    --trans-speed: 0s !important;
    transition-duration: 0s !important;
}

.dark-mode {
    .facts__num {
        color: var(--text-color2);
    }

    .profile-actions .button {
        color: var(--text-color2);

        &--primary {
            color: #3d3d3d;
        }
    }

    .tabs__button {
        color: var(--text-color2);
    }

    .theme-toggle {
        background-color: #2c3e50;

        &:after {
            transform: translateX(6rem);
            background-image: url(../images/icon_moon.png);
            background-size: 27px;
        }
    }

    .skills__icon {
        &--figma {
            background-image: url(../images/icon_figma_light.png);
        }

        &--vscode {
            background-image: url(../images/icon_vscode_light.png);
        }
    }
}

body {
    background-color: var(--body-color);
    font-weight: 500;
    transition: background-color var(--transition-speed);

    &.body--locked {
        overflow: hidden;
        padding-right: var(--scrollbar-width);

        .switch-container {
            padding-right: var(--scrollbar-width);
        }
    }
}

.wrap {
    max-width: 80rem;
    margin: 0 auto;
    padding: 17.8rem 2rem 0;
}

.switch-container {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    @include flex-center;
    padding: 3.3rem 0;
    transition: background-color var(--transition-speed);
}

.theme-toggle {
    position: relative;
    width: 12rem;
    height: 6rem;
    background-color: var(--bg-tab-button);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 0;
    transition: background-color var(--transition-speed) ease;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 6rem;
        height: 6rem;
        background: var(--bg-button) url(../images/icon_sun.png) no-repeat 50% / 50%;
        border-radius: 100%;
        transform: translateX(0);
        transition: background-image var(--transition-speed) ease;
    }

    &.is-animated:after {
        transition: transform var(--transition-speed) ease;
        will-change: transform;
    }
}

.profile {
    @include flex-center;
    background-color: transparent;
    //margin-top: 3.3rem;

    &__inner {
        max-width: 63rem;
        display: flex;
        gap: 4rem;
        align-items: center;
    }

    &__avatar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 21.5rem;
        height: 21.5rem;
        background-color: var(--bg-yellow);
        border: 10px solid var(--body-color);
        border-radius: 50%;
        box-shadow:
            0 0 0 4px var(--bg-yellow),
            0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        transition:
            background-color var(--transition-speed) ease,
            border-color var(--transition-speed) ease;
    }

    &__avatar-image {
        height: 18rem;
        transform-origin: bottom;
        transition: transform var(--transition-speed) ease-out;
        transform: translateZ(0);
        backface-visibility: hidden;
        will-change: transform;
    }

    &__name {
        color: var(--text-color1);
        font-size: 4.6rem;
        font-weight: 500;
        transition: color var(--transition-speed);
    }

    &__job {
        color: var(--text-color2);
        transition: color var(--transition-speed);
        @include responsive-font;
    }
}

.facts {
    margin-top: 4.8rem;

    &__list {
        display: flex;
        width: 63.4rem;
        text-align: center;
        padding: 2rem 0;
        margin: 0 auto;
    }

    &__item {
        width: calc(100% / 3);
    }

    &__num,
    &__label {
        display: block;
        font-weight: 500;
    }

    &__num {
        font-size: 2.4rem;
        color: var(--text-color1);
    }

    &__label {
        @include responsive-font;
        color: var(--text-color2);
    }
}

.profile-actions {
    @include flex-center;
    margin: 4.8rem auto 0;
    gap: 4rem;
    width: 62rem;

    .button {
        @include flex-center;
        @include button;
        @include responsive-font;
        height: 8rem;
        color: var(--text-color1);

        &--primary {
            background-color: var(--bg-yellow);

            .button__text {
                display: block;

                &:after {
                    content: '';
                    display: inline-block;
                    width: 2.7rem;
                    height: 2.4rem;
                    background: url(../images/btn_download.png) no-repeat 100% 50% / 27px 2.4rem;
                    vertical-align: middle;
                    margin-left: 1rem;
                }
            }
        }
    }
}

.tabs {
    display: flex;
    background-color: var(--bg-button);
    border-radius: 20px;
    gap: 2.4rem;
    padding: 1.5rem 2.4rem;
    margin-top: 8.6rem;
    transition:
        background-color var(--transition-speed) ease,
        color var(--transition-speed) ease;

    &__button {
        height: 8rem;
        @include flex-center;
        @include button;
        @include responsive-font;
        color: var(--text-tab-color);

        &--active {
            background-color: var(--bg-tab-button);
        }
    }

    &__container {
        position: relative;
        margin-top: 7.6rem;
    }

    &__contents {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        will-change: transform, opacity;
        backface-visibility: hidden;
        transform: translateY(10px) translateZ(0);
        transition:
            opacity 0.5s ease,
            transform 0.5s ease,
            visibility 0.5s;

        &--active {
            position: relative;
            height: auto;
            overflow: visible;
            opacity: 1;
            visibility: visible;
            transform: translateY(0) translateZ(0);
            z-index: 1;
            transition-delay: 0.05s;
        }
    }
}

.projects {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 3.2rem;
    }
}

.project-card {
    flex: 0 0 calc(50% - 1.6rem);

    &__link {
        display: block;
    }

    &__thumb {
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        width: 100%;
        padding-top: 56.25%;
        background-repeat: no-repeat;
        background-size: cover;
        will-change: transform;
        backface-visibility: hidden;
        transform: translateZ(0);
        transition: transform var(--transition-speed) ease-out;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            pointer-events: none;
            transition: background-color var(--transition-speed) ease-out;
        }

        &.project-item1 {
            background-image: url(../images/img_project1.png);
        }
    }
    &:last-child {
        .project-card__link {
            cursor: default;
        }
        .project-item2 {
            background-image: url(../images/img_project2.png);
            &:after {
                content: '준비중';
                @include flex-center;
                @include responsive-font;
                background-color: var(--bg-button);
                color: var(--text-color2);
            }
        }
    }
}

.skills {
    &__title {
        @include responsive-font;
        color: var(--text-color1);
        margin: 4.8rem 0 3.2rem;
        font-weight: 500;

        &:first-child {
            margin-top: 0;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.4rem;
        margin: 0 auto;
    }

    &__item {
        @include flex-center;
        flex: 0 0 calc((100% - (2.4rem * 3)) / 4);
        flex-direction: column;
        background-color: var(--bg-button);
        border-radius: 15px;
        padding: 2.5rem 1rem;
        transition: background-color var(--transition-speed) ease;
    }

    &__icon {
        width: 7rem;
        height: 7rem;
        margin-bottom: 1.5rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &--html5 {
            background-image: url(../images/icon_html5.png);
        }

        &--css3 {
            background-image: url(../images/icon_css.png);
        }

        &--scss {
            background-image: url(../images/icon_sass.png);
        }

        &--js {
            background-image: url(../images/icon_js.png);
        }

        &--vscode {
            background-image: url(../images/icon_vscode_dark.png);
        }

        &--git {
            background-image: url(../images/icon_git.png);
        }

        &--figma {
            background-image: url(../images/icon_figma_dark.png);
        }

        &--slack {
            background-image: url(../images/icon_slack.png);
        }
    }

    &__name {
        font-size: 1.6rem;
        color: var(--text-color2);
        font-weight: 500;
        transition: color var(--transition-speed) ease;
    }

    &__desc {
        font-size: 1.4rem;
        color: var(--text-color2);
        word-break: keep-all;
        overflow-wrap: break-word;
        text-align: center;
        margin-top: 1rem;
        transition: color var(--transition-speed) ease;
    }
}

.footer {
    @include flex-center;
    padding: 8rem 0;

    &__copy {
        color: var(--text-color2);
        transition: color var(--transition-speed) ease;
        @include responsive-font;
    }
}

@media (hover: hover) {
    .project-card__thumb:hover {
        transform: scale(1.05) translateZ(0);
        &:after {
            background-color: rgba(0, 0, 0, 0);
        }
    }
    .project-card__thumb.project-item2 {
        &:after {
            content: '준비중';
            @include flex-center;
            @include responsive-font;
            background-color: var(--bg-button);
            color: var(--text-color2);
        }
    }
    .project-card__thumb.project-item2:hover {
        transform: scale(1);
    }

    .profile__avatar:hover .profile__avatar-image {
        transform: scale(1.1) translateZ(0);
    }
}

@media (pointer: coarse) {
    .project-card {
        &__link {
            -webkit-tap-highlight-color: transparent;
        }
        &:last-child {
            .project-item2 {
                &:after {
                    content: '준비중';
                    @include flex-center;
                    @include responsive-font;
                    background-color: var(--bg-button);
                    color: var(--text-color2);
                }
            }
        }
    }
}

/* Tablet */
@media (max-width: 1200px) {
    html {
        font-size: 56.25%;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .dark-mode {
        .theme-toggle:after {
            transform: translateX(4rem);
            background-size: 16px;
        }
    }

    .wrap {
        max-width: 100%;
        padding: 9.8rem 2rem 0;
    }

    .switch-container {
        padding: 2rem 0;
    }

    .theme-toggle {
        width: 8rem;
        height: 4rem;
        border-radius: 23px;

        &:after {
            width: 4rem;
            height: 4rem;
        }
    }

    .profile {
        &__inner {
            max-width: 100%;
            flex-direction: column;
        }

        &__avatar {
            width: 12.4rem;
            height: 12.4rem;
            border-width: 5px;
        }

        &__avatar-image {
            height: 10.7rem;
        }

        &__name {
            font-size: 3.2rem;
        }

        &__job {
            text-align: center;
        }
    }

    .facts {
        margin-top: 3rem;

        &__list {
            width: 100%;
        }

        &__num {
            font-size: 1.6rem;
        }
    }

    .profile-actions {
        gap: 1.4rem;
        width: 100%;

        .button {
            height: 4.4rem;

            &--primary .button__text:after {
                width: 1.6rem;
                height: 1.4rem;
                background-size: 100% 100%;
                margin-left: 0.5rem;
            }
        }
    }

    .tabs {
        border-radius: 10px;
        gap: 1rem;
        padding: 0.7rem;
        margin-top: 5.8rem;

        &__button {
            height: 5rem;
        }

        &__container {
            margin-top: 4rem;
        }
    }

    .projects__list {
        gap: 1.6rem;
    }

    .project-card {
        flex-basis: 100%;
    }

    .skills {
        &__title {
            margin: 3.2rem 0 2rem;

            &:first-child {
                margin-top: 0;
            }
        }

        &__list {
            gap: 1.2rem;
        }

        &__item {
            flex: 0 0 calc((100% - 1.2rem) / 2);
        }

        &__icon {
            width: 4rem;
            height: 4rem;
        }

        &__name {
            font-size: $font-size-common-mobile;
        }
    }

    .footer {
        padding: 4rem 0;
    }
}
