@charset "utf-8";

/* common.css로 이동예정 */

/* Birth calendar */
.calLayout{display:none;border:1px solid #d7d7d7;background:#fff;text-align:center;overflow:hidden;width:100%;padding:25px 15px 20px;z-index:1;}
.calLayout .calTitle table>tbody>tr>td {border:0;padding:0;text-align:center;}
.calLayout .calTitle,
.calLayout .calHeader,
.calLayout .calBody,
.calLayout .todayLay {width:100%;display:inline-block;}
.todayLay{margin-top:13px;}
.calHeader{margin-top:15px;}
.calTitle #CalbirthDaybefore {text-indent:-9999px;cursor:pointer;background:url(./images/common/btn-arrow-calender.png) no-repeat 8px 3px;background-size:100%;width:6px;height:8px;}/* 이전달 */
.calTitle #CalbirthDaynext {text-indent:-9999px;cursor:pointer;background:url(./images/common/btn-arrow-calender.png) no-repeat -8px 3px;background-size:100%;width:6px; height:8px;}/* 다음달 */

.calTitle select {
    height:15px;
    line-height:15px;
    color:#000;
    font-size:15px;
    font-weight:500;
    border:0;
    -webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	appearance:none; 
 	background:#ffffff url(./images/sub/ico-select.png) no-repeat 80% 50%;
	background-size:7px 5px;
}

.calTitle select::-ms-expand {
	display:none;
} /* ie10,ie11 dropdown 화살표제어 */

.calTitle #CalbirthDayselYear,
.calTitle #CalbirthDayselMon {
	position:relative;
	float:left;	
	width:50%;
	padding:0 10%;
}

.calTitle #CalbirthDayselMon:after {
	content:'';
	clear:both;
	display:block;
}
.calTitle #CalbirthDayselMon{border-left:1px solid #d7d7d7;}

.calHeader .calDayTitle,
.calBody .calDay,
.calBody .calOtherDay,
.calBody .calSatDay,
.calBody .calSunDay {float:left;width:10%;height:24px;line-height:24px;margin:1% 2%;font-size:12px;font-weight:300;color:#333;text-align:center;}

.calBody .calDay,
.calBody .calOtherDay, 
.calBody .calSatDay,
.calBody .calSunDay {cursor:pointer;}

.calBody .calSelDay, .calBody .calOnDay{color:#fff;background-color:#be9768}/* 선택날짜 */
.calBody .dayToday{color:#be9768;text-decoration:underline;}/* 오늘 */
.calBody .calSunDay, .calHeader .calSunDay {color:#b45541;} /* 일요일 및 공휴일 */
.calBody .calOtherDay {color:#999;}/* 이전,다음달 날짜 */

.todayBtn{display:inline-block;cursor:pointer;border:1px solid #999999;color:#777;height:21px;line-height:21px;padding:0 10px;font-size:12px;font-weight:300;}

.calHeader:after,
.calBody:after {clear:both;display:block;content:'';}

/* button */
.btn-style2 {
	display:inline-block;
}

.btn-style2 button {	
	font-weight:300;
	color:#777777;	
	font-size:12px;
	padding:0;
}

.btn-style2 button:after {
	content:"";
	display:inline-block;
	width:5px;
	height:8px;
	background:url(./images/common/ico-gray-arrow-10x16.png) no-repeat 0 0;	
	background-size:100% 100%;
	background-position:0 0;
	margin-left:5px;
}

.btn-column.array-type {
	display:-webkit-box; 
	display:-webkit-flex; 
	display:-ms-flexbox; 
	display:flex;	
	flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-column.array-type button {
	position:relative;
	width:49%;
	margin:0;
	flex:initial;
}

.btn-column.array-type button:last-child {
	width:100%;
	margin-top:5px;
}

/* //common.css로 이동예정 */



/* sub.css로 이동예정 */



.btn-area {
	margin-top:20px;
}

/* form */
.inp-def::placeholder,
.textarea-def::placeholder {
  color:#cccccc;
  font-weight:300;
}

.input-list li {
	margin-bottom:20px;
}

.input-list li:last-child {
	margin-bottom:0;
}

.input-list li .t-title {
	display:block;
	font-size:14px;
	color:#333333;
	font-weight:300;
	margin-bottom:10px;
}

.birth-group .calLayout {	
	position:absolute;
	left:20px;
	right:20px;
	width:auto;
}

.id-group,
.certinum-group,
.birth-group {
	display:table;
	width:100%;
	table-layout:fixed;
}

.id-group span,
.certinum-group span {
	display:table-cell;
	width:auto;
	box-sizing:border-box;
	vertical-align:middle;
	padding-right:5px;
}

.birth-group .inp-area,
.birth-group .btn-calender {
	display:table-cell;
	width:auto;
	box-sizing:border-box;
	vertical-align:middle;
	padding:0;
	margin:0;
}

.id-group span:last-child,
.certinum-group span:last-child{
	padding-right:0;
}

.id-group span:first-child {
	width:57%;
}

.certinum-group span:first-child {
	width:72%;
}

.birth-group .inp-area {
	width:80%;
	padding-right:5px;
}

.id-group span button,
.certinum-group span button,
.birth-group span button {
	width:100%;
	margin:0;
}


.birth-group .btn-calender {
	text-indent:-9999px;
	background:url(./images/sub/btn-calendar.png) no-repeat left 50%;
	background-size:35px 35px;
	width:35px;
	height:35px;
}

.email-group .id-area {
	width: 100%;
	display:block;
	margin-bottom:5px;
}

.email-group .id-area input {
	width: 86%;
}

.email-group .id-area:after {
	content:"@";
	color:#d7d7d7;
	font-size:14px;
	line-height:23px;
	font-weight:300;
	padding-left: 10px;
}

.email-group .select-group {
	margin-top:5px;
}

/* List icon */

.ico-hyphen,
ul.ico-hyphen-list>li,
dl.ico-hyphen-list>dt {
	position:relative;
	padding-left:7px;
} 

.ico-hyphen:before,
ul.ico-hyphen-list>li:before,
dl.ico-hyphen-list>dt:before {
	content:'';
	width:4px;
	height:1px;
	background: url(./images/sub/ico-hyphen.png) no-repeat 0 0;
	background-size:100% 100%;
	position:absolute;
	left:0;
	top:10px;
}

.ico-dot,
ul.ico-dot-list>li,
dl.ico-dot-list>dt {
	position:relative;
	padding-left:6px;
}

.ico-dot:before,
ul.ico-dot-list>li:before,
dl.ico-dot-list>dt:before {
	content:'';
	width:2px;
	height:2px;
	background: url(./images/sub/ico-dot.png) no-repeat 0 0;
	background-size:100% 100%;
	position:absolute;
	left:0;
	top:9px;
}

.circle-num {
	display:inline-block;
	width:14px;
	height:14px;
	line-height:11px;
	font-size:11px;
	color:#333333;
	font-weight:300;
	border:1px solid #333333;
	-webkit-border-radius:100%;
	border-radius:100%;
	background:#fff;
	text-align:center; 
	vertical-align:middle;
	margin:-3px 5px 0 0;
}

.txt-star {
	position:relative;
	display:inline-block;
	font-size:13px;
	font-weight:300;
	color:#999;
	padding-left:10px;
	line-height:22px;
}

.txt-star:before {
	content:"*";
	position:absolute;
	top:3px;
	left:0;
}

.txt-star2 {
	position:relative;
	display:inline-block;
	font-size:16px;
	font-weight:500; 
	color:#c4b2a0;
	font-style:normal;
}

.txt-star2:before {
	content:"*";
	position:absolute;
	top:0;
	left:3px;
}

.txt-star2 span {
	text-indent:-9999px; 
	font-size:0; 
}

.txt-refer {
	font-size:14px;
	line-height:23px;
	font-weight:300;
	color:#777;
}

.txt-refer:before {
	content:'';
	display:inline-block;
	width:10px;
	height:10px;
	background:url(./images/sub/ico-refer.png) no-repeat 0 0;
	background-size:100%;
	margin-right:5px;
}

.txt-refer2 {
	font-size:12px;
	line-height:21px;
	font-weight:300;
	color:#999999;
}

.txt-refer2:before {
	content:'';
	display:inline-block;
	width:9px;
	height:9px;
	background:url(./images/sub/ico-refer2.png) no-repeat 0 0;
	background-size:100%;
	margin-right:5px;
}

/* Login(MO_CO2.1) */
.inner-login {
	padding:52px 0 40px;
}

.login-input li {
	margin-top:10px;
}

.login-input li:first-child {
	margin-top:0;
}

.login-input .input-area .inp-def {
	border-width:0 0 1px 0;
	height:45px;
	line-height:45px;
}

.login-set {
	margin-top:20px;
}

.login-set:after {
	clear:both;
	display:block;
	content:'';
}

.login-set .btn-style2 {
	float:right;
	font-size:0;
}

.login-set .check-group {
	float:left;
}

.login-set .check-group input[type="checkbox"].inp-check + label { 
	font-size:12px;
	font-weight:300;
} 

.login-signup {
	text-align:center;
}

.login-signup .txt-area {
	font-size:12px;
	line-height:21px;
	font-weight:300;
	color:#777777;
}

.login-signup .txt-area strong {
	display:block;
	margin-bottom:20px;
	color:#333333;
	font-size:16px;
	line-height:12px;
	font-weight:500;
}

.login-signup button { 
	margin-top:25px;
}

.inner-idfind .tab-menu,
.inner-mypage .tab-menu {
	margin:0 -20px;
}

.inner-idfind .tab-menu li button,
.inner-idfind .tab-menu li a,
.inner-mypage .tab-menu li button,
.inner-mypage .tab-menu li a{
	border-top:0;
}

.inner-idfind .txt-area {
	padding: 45px 0 40px;
	font-size:14px;
	line-height:23px;
	font-weight: 300;
	color:#777777;
}

.inner-idfind .txt-area strong {
	display:block;
	font-size:25px;
	line-height:34px;
	font-weight:300;
	color:#000000;
	margin-bottom: 12px;
}

.inner-idfind .login-findid {
	display:none;
	margin-top:42px;
	font-size:16px;
	font-weight:333;
	line-height:21px;
	color:#000000;
	text-align:center;
}

.inner-idfind .login-findid em {
	color:#be9768;
	font-weight:333;
}

.certi-input .certi-group {
	margin-top:20px;
}

.certi-input .txt-star {
	margin-top:10px;
}

.pswd-input {
	display:none;
	padding-top:40px;
	margin-top:40px;
	border-top:1px solid #d7d7d7;
}

/* Singup(MO_CO2.3) */
.signup-step {
	padding:25px 20px;
	margin:0 -20px;
	border-bottom:1px solid #d7d7d7;
}

.signup-step ol {
	display:table;
	width:100%;
}

.signup-step ol li {
	display:table-cell;
	box-sizing:border-box;
	text-align:center;
	font-size:12px;
	color:#cccccc;
	font-weight:300;
	font-family: "Avenir",sans-serif;
}

.signup-step ol li.on {
	color:#be9768;
}

.signup-step .area-num {
	display:block;
	font-size:28px;
	font-weight:300;
}

.signup-cont,
.mypage-cont {
	padding-top:40px;
}

.signup-cont h4,
.mypage-cont h4 {
	display:inline-block;
	font-size:17px;
	font-weight:500;
	color:#333333;
	margin-bottom:20px;
}

.signup-cont .input-block,
.mypage-cont .input-block {
	margin-bottom:50px;
}

.signup-cont .input-block:last-child {
	margin-bottom:0;
}

.signup-cont .table-type2,
.mypage-cont .table-type2 {
	table-layout:fixed;
}

.signup-cont .table-type2 td,
.mypage-cont .table-type2 td {
	padding:5px 0 5px 5px;
}

.signup-cont .table-type2 .txt-notice,
.mypage-cont .table-type2 .txt-notice {
	line-height:19px;
	margin-bottom:6px;
}

.signup-cont .btn-column,
.mypage-cont .btn-column {
	margin-top:40px;
}

.signup-cont .table-type2 .radio-group,
.mypage-cont .table-type2 .radio-group {
	margin:8px 0px 5px 5px;
}

.signup-cont .terms-block li {
	display:table;
	width:100%;
	height:46px;
	border-top:1px solid #d7d7d7;
}

.signup-cont .terms-block li:last-child {
	border-bottom:1px solid #d7d7d7;
}

.terms-block .check-group,
.terms-block .btn-terms {
	display:table-cell;
	box-sizing: border-box;
	position:relative;
	text-align:left;
	vertical-align: middle;
}

.terms-block .check-group {
	width:80%;
}

.terms-block .check-group span {
	margin:0;
}

.terms-block .check-group .inp-check + label {
	font-size:14px;
	color:#333333;
	font-weight:500;
}

.terms-block .check-group .inp-check + label em{
	color:#b45541;
}

.terms-block .check-group .inp-check + label em.txt-choice {
	color:#053885;
}

.terms-block .btn-terms .btn-arrow {
	height: 100%;
	width:100%;
	padding:0;
}

.terms-block .btn-terms .btn-arrow:after {
	content:"";
	display:inline-block;
	width:5px;
	height:8px;
	background:url(./images/common/ico-black-arrow-10x16.png) no-repeat 0 0;
	background-size:100% 100%;
	position: absolute;
	right:10px;
	top:50%;
	-webkit-transform:translateY(-50%);	
	transform:translateY(-50%);	
}

.signup-cont .terms-agreeall {
	margin-top:15px;
	font-size:14px;
	font-weight:300;
	color:#777777;
}

.signup-cont .certi-block {
	margin-top:20px;
}

.signup-cont .certi-block p {
	font-size:14px;
	line-height:23px;
	font-weight:300;
	color:#777777;
}

.signup-cont .certi-block .btn-column {
	margin-top:20px;
}

.signup-cont .certi-info {
	margin:30px -25px 0;
	background-color:#f5f4f0;
	padding:25px 20px;
}

.signup-cont .certi-info>li {
	font-size:12px;
	line-height:21px;
	font-weight:300;
	color:#999999;
	margin-bottom:18px;
}

.signup-cont .certi-info li:last-child {
	margin-bottom:0;
}

.signup-cont .certi-guide {
	margin-top:23px;
	font-size:12px;
	line-height:21px;
	color:#777777;
	font-weight:300;
}

.signup-cont .certi-guide button {
	display:block;
	margin-top:8px;
}

.signup-cont .certi-mem-info {
	margin-top:32px;
}
	
.signup-cont .certi-mem-info strong{
	display:block;
	font-size:16px;
	line-height:23px;
	color:#be9768;
	font-weight:500;
	margin-bottom: 22px;
	text-align:center;
}

.signup-cont .certi-mem-info ul>li {
	font-size:14px;
	line-height:21px;
	color:#777777;
	font-weight:300;
	margin-bottom: 5px;
}

/* My page (MO_MY.4.T1) */
.mypage-cont .txtbox-area{
	padding:25px 0;
	border-top:1px solid #d7d7d7;
	border-bottom:1px solid #d7d7d7;	
}

.mypage-cont .txtbox-area li {
	font-size:14px;
	line-height:21px;
	margin-bottom:4px;
	color:#333333;
	font-weight:300;
}

.mypage-cont .txtbox-area li:last-child {
	margin-bottom:0;
}

/* Footer > 이용약관(MO_CO3.3),개인정보취급방침(MO_CO3.4),이메일무단수집거부(MO_CO3.5) */
.privacy-cont {
	padding:50px 0 0;
	font-size:14px;
	line-height:22px;
	font-weight:300;
	color:#777777;
}

/* Footer > 분양/입점문의(CO3.1) */
.sell-cont {
	padding-top:50px;
}

.sell-cont h4 {
	font-size:21px;
	line-height:30px;
	font-weight:300;
	color:#333;	
}

.sell-cont .txt-sup {
	padding:20px 0;	
	color:#777;
	font-size:14px;
	font-weight:300;
	display:block;
}

.sell-cont .txt-type {
	text-align:right;
	font-size:12px;
	color:#777;
	font-weight:300;
	padding:10px 0;
}

.sell-cont .info-area {
	margin-top:15px;
}

.sell-cont .info-area .refer {
	margin-top:9px;
}

.sell-cont .info-area .txt-star {
	font-size:12px;
	line-height:21px;		
}

.sell-cont .info-area>li {
	margin-bottom:60px;
}

.sell-cont .info-area>li:last-child {
	margin-bottom:0;
}

.sell-cont .table-type4+.table-type4 {
	margin-top:15px;
}

.sell-cont td.left .ico-dot-list>li {
	font-weight:500;
}

.sell-cont td.left .ico-hyphen-list>li {
	line-height:23px;
	font-weight:300;
}

.sell-cont .t-title {
	display:inline-block;
	font-size:16px;
	font-weight:500;
	color:#333;
	padding:60px 0 20px;
}

.sell-cont .t-title:first-of-type {
	padding-top:20px;
}

.sell-cont .s-title {
	display:block;
	font-size:14px;
	font-weight:500;	
	color:#333;
	padding:35px 0 20px;
}

.sell-cont .info-call {
	display:table;
	width:100%;
	color:#be9768;
	font-size:14px;
	font-weight:300;
	margin-top:15px;
}

.sell-cont .info-call dt,
.sell-cont .info-call dd {
	display:table-cell;
	box-sizing:border-box;
	vertical-align:middle;
}

.sell-cont .info-call dt {
	width:65px;
	font-weight:500;
}

.sell-cont .info-area2 {
	margin-top:15px;
}

.sell-cont .info-area2 li {
	font-size:14px;
	line-height:23px;
	font-weight:300;
	color:#777777;
}

/* 약관공용 (회원약관동의,Footer컨텐츠) */
.terms-list {
	margin-bottom:25px;
	font-size:14px;
	line-height:23px;
	color:#333333;
	font-weight:300;
	word-break:break-all;
}

.terms-list:last-child {
	margin-bottom:0;
}

.terms-list strong {
	display:block;
	font-weight:500;
}

.terms-list strong span {
	font-weight:300;
}

.terms-list em {
	display:block;
	font-weight:300; 
}

.terms-list table thead th {
	line-height:20px;
}

.terms-list .table-type2,
.terms-list .table-type4 {
	margin:15px 0 30px;
}

.terms-list .table-type4 th {
	padding:5px 0;
}

.terms-list .table-type4 td {
	padding:13px 0;
	background-color:#fff;
}

.terms-list .table-type4 .left {
	text-align:left;
	padding:5px 7px;
}
 
.terms-list .table-type2 th,
.terms-list .table-type2 td {
	color:#777777;
}

.terms-list .table-type2 td {
	vertical-align:top;
	padding:12px 7px 12px 9px;
	background:#fff;
}

.terms-list .table-type2 th,
.terms-list .table-type2 td {
	border-left:1px solid #d7d7d7;
}

.terms-list .table-type2 th:last-child,
.terms-list .table-type2 td:last-child {
	border-right:1px solid #d7d7d7;
}

.terms-list .depth-num table {
	margin-bottom:5px;
}

.terms-info,
.terms-list .txt-refer {
	font-size:14px;
	line-height:23px;
	font-weight:300;
	color:#333333;
}

.terms-list table+.terms-info {
	margin-top:-20px;
}

.terms-info+.terms-list {
	margin-top:25px;
}

/* 잇 벨포레 */
.belle-cont {
	padding-top:50px;
}

.belle-cont.b-story .detail-top .title-area {
	margin-top:3px;
}

.belle-cont.b-story .detail-top .t-category {
	font-size:14px;
	line-height:23px;
	padding-left:0;
}

.belle-cont .detail-top .t-category {
	display:inline-block;
	font-size:12px;
	line-height:30px;
	font-weight:300;
	color:#be9768;
	padding-left:10px;
}

.belle-cont .detail-top .title-area {
	display:block;
	margin-top:13px;
	font-size:18px;
	line-height:27px;
	font-weight:500;
	color:#333333;
}

.belle-cont .detail-top .date-area {
	margin-top:16px;
	border-top:1px solid #d7d7d7;
	border-bottom:1px solid #d7d7d7;
}

.belle-cont .detail-top .date-area:after {
	content:"";
	display:block;
	clear:both;
}

.belle-cont .detail-top .t-date {
	display:inline-block;
	padding: 13px 0;
	font-size:14px;
	line-height:23px;
	font-weight:300;
	color:#777777;
	font-family:"Avenir",sans-serif;
}

.belle-cont .detail-top .btn-share {
	float:right;
	padding:17px 10px 17px 10px;
}

.belle-cont.bbs-view .detail-cont {
	padding:20px 0 25px;
}

.btn-share {
	padding:0;
	text-indent:-9999px;
	font-size:0;
}

.btn-share:before {
	content:'';
	display:block;
	width:12px;
	height:15px;
	background:url(./images/sub/ico-share.png) no-repeat center;
	background-size:100%;
}

/* //sub.css로 이동예정 */