@use './variables' as *; // 여기서도 변수를 사용
@use 'sass:math'; // 파일 최상단에 추가

@mixin tablet {
    @media (max-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin inner-layout($max-width: 122rem, $padding: 2rem) {
    max-width: $max-width; //118rem(본문) + 4rem(양옆 여백)
    margin: 0 auto;
    width: 100%;
    padding-left: $padding;
    padding-right: $padding;
    @include flex-set(space-between);
}

@mixin flex-set($justify: center, $align: center, $direction: row, $flex-wrap: nowrap, $text-align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction; // 모바일에서 세로 배치를 위해 추가
    flex-wrap: $flex-wrap;
    text-align: $text-align;
}

@mixin ls-px($px-spacing, $current-font-size-rem) {
    // rem 단위를 px 숫자로 바꿔서 계산 (62.5% 기준이므로 * 10)
    $current-px: $current-font-size-rem * 10;
    letter-spacing: math.div($px-spacing, $current-px) * 1em;
}

@mixin font-set($size: null, $m-size: null, $weight: 400, $color: $color-black, $opacity: 1, $is-crimson: false) {
    font-weight: $weight;
    color: rgba($color, $opacity); // 컬러는 항상 $color 인자를 따름

    // $is-crimson이 true일 때만 실행되는 스타일 (색상 제외)
    @if $is-crimson {
        font-family: 'Crimson Text', serif;
    }

    // 데스크탑 사이즈가 있을 때만 출력
    @if $size {
        font-size: $size;
    }

    // 모바일 사이즈가 있을 때만 출력
    @if $m-size {
        @include tablet {
            font-size: $m-size;
        }
    }
}

@mixin label($color: $color-green) {
    font-size: 1.6rem;
    font-weight: 700;
    @include ls-px(5, 1.6);
    color: $color;
}

@mixin button-set($bg: $color-black, $color: $color-white) {
    @include flex-set;
    min-width: 17rem;
    height: 4.8rem;
    border-radius: $radius-base;
    font-size: 2rem;
    background-color: $bg;
    color: $color;
}

@mixin card-box {
    background-color: $color-white;
    box-shadow: $box-shadow;
    border-radius: $radius-base;
}
